<link rel="stylesheet" href="/static/style.css" type="text/css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jodit/3.1.92/jodit.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/jodit/3.1.92/jodit.min.js"></script>

{% block body %}
{% if not session['logged_in'] %}
    <div class="login">
        <div class="login-screen app-title">
            <h3>You should login first!</h3>
        </div>
    </div>
{% else %}
    <form action="/post/compose" method="POST">
        <div class="login">
            <div class="login-screen">
                <div class="app-title">
                    <h1>Compose</h1>
                </div>
                {% if message %}
                    <div class="message">
                        <span class="closebtn">&times;</span>
                        {{ message }}
                    </div>
                {% endif %}
                <div class="login-form">
                    <div class="control-group">
                        <textarea id="{{ fields[0].name }}" class="login-field" value="" placeholder="{{ fields[0].placeholder }}" name="{{ fields[0].name }}" required></textarea>
                        <label class="login-field-icon fui-user" for="login-name"></label>
                    </div>
                    <input type="submit" value="Compose" class="btn btn-primary btn-large btn-block">
                    <br>
                    <a href="/post/timeline" class="btn btn-primary btn-large btn-block">Back To Timeline</a>
                </div>
            </div>
        </div>
    </form>
{% endif %}
{% endblock %}
<script>
        // Editor Initiator
        var editor = new Jodit('#{{ fields[0].name }}');
        editor.value = '<p>what\'s in your mind?</p>';

        // Get all elements with class="closebtn"
        var close = document.getElementsByClassName("closebtn");
        var i;
        
        // Loop through all close buttons
        for (i = 0; i < close.length; i++) {
          // When someone clicks on a close button
          close[i].onclick = function(){
        
            // Get the parent of <span class="closebtn"> (<div class="alert">)
            var div = this.parentElement;
        
            // Set the opacity of div to 0 (transparent)
            div.style.opacity = "0";
        
            // Hide the div after 600ms (the same amount of milliseconds it takes to fade out)
            setTimeout(function(){ div.style.display = "none"; }, 600);
          }
        }
</script>