<link rel="stylesheet" href="/static/style.css" type="text/css">

{% block body %}
{% if not session['logged_in'] %}
    <div class="login">
        <div class="login-screen app-title">
            <h3>You should login to see your profile dude!</h3>
        </div>
    </div>
{% else %}
    <div class="login">
        <div class="login-screen app-title">
            <h3>{{ fields.username }}'s profile!</h3>
            <h4>Hello {{ fields.firstname }} {{ fields.lastname }}!</43>
            <h4>Welcome to magram!</h4>
            <h5>Your email is {{ fields.email }}</h5>
        </div>
    </div>
{% endif %}
{% endblock %}