<link rel="stylesheet" href="/static/style.css" type="text/css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.9.0/sha256.min.js"></script>


{% block body %}
{% if session['logged_in'] %}
    <div class="login">
        <div class="login-screen app-title">
            <h3>You're logged in already!</h3>
        </div>
    </div>
{% else %}
    <form action="/user/signin" method="POST" id="signin-form">
        <div class="login">
            <div class="login-screen">
                <div class="app-title">
                    <h1>Login</h1>
                </div>
                {% if message %}
                    <div class="message">
                        <span class="closebtn">&times;</span>
                        {{ message }}
                    </div>
                {% endif %}
                <div class="login-form">
                    {% for field in fields %}
                        <div class="control-group">
                            <input type="{{ field.type }}" class="login-field" value="" placeholder="{{ field.name }}" name="{{ field.name }}" required>
                            <label class="login-field-icon fui-user" for="login-name"></label>
                        </div>
                    {% endfor %}
                    <input type="hidden" class="login-field" value="{{ hmac }}" name="hmac" required>
                    <input type="submit" value="Log in" class="btn btn-primary btn-large btn-block">
                </div>
            </div>
        </div>
    </form>
{% endif %}
{% endblock %}
<script>
        form = document.getElementById('signin-form')
        if (form && form.elements.password) {
            form.onsubmit = function() {
                var hash = sha256.hmac.create(form.elements.hmac.value);
                hash.update(form.elements.password.value);
                form.elements.password.value = hash.hex();
                var hmacParent = document.getElementsByClassName('login-form')
                var hmacElement = document.getElementsByName('hmac')
                hmacParent[0].removeChild(hmacElement[0])
            }
        }
        // Get all elements with class="closebtn"
        var close = document.getElementsByClassName("closebtn");
        var i;
        
        // Loop through all close buttons
        for (i = 0; i < close.length; i++) {
          // When someone clicks on a close button
          close[i].onclick = function(){
        
            // Get the parent of <span class="closebtn"> (<div class="alert">)
            var div = this.parentElement;
        
            // Set the opacity of div to 0 (transparent)
            div.style.opacity = "0";
        
            // Hide the div after 600ms (the same amount of milliseconds it takes to fade out)
            setTimeout(function(){ div.style.display = "none"; }, 600);
          }
        }
</script>