* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

textarea {
    padding: 0.25em;
    width: 100%;
    max-width: 100%;
    border: none;
    vertical-align: bottom;
    color: hsl(0, 0%, 50%);
    border-radius: 0.25em;
    outline: none;
    width: 100%;
    height: 100px;
    border: 1px solid hsl(0, 0%, 70%);
    border-radius: 0.25em;
    margin: 0.25em 0 1.5em;
    background-color: white;
}

body {
    font-family: Arial;
    background-color: #3498DB;
    padding: 50px;
}

.login {
    margin: 20px auto;
    width: 300px;
}

.login-screen {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px;
    border-color: #f44c36;
    border-width: 0px 0px 4px 0px;
    border-style: solid;
}

.chat {
    margin: 20px auto;
    width: 700px;
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.my-post {
    background: #ccc;
    position: relative;
    text-align: center;
    width: 300px;
    font-size: 13;
    border-radius: 10px 10px 5px 10px;
    background-color: rgb(230, 230, 230);
    border-color: #f44c36;
    border-width: 0px 4px 0px 0px;
    border-style: solid;
    margin: 10px;
    align-self: flex-end;
}

.my-post:after {
    content: '';
    position: absolute;
    display: block;
    top: 100%;
    left: 100%;
    margin-top: -20px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 12px solid #f44c36;
}

.others-post {
    background: #ccc;
    position: relative;
    width: 300px;
    font-size: 13;
    border-radius: 10px 10px 10px 5px;
    background-color: rgb(230, 230, 230);
    border-color: #f44c36;
    border-width: 0px 0px 0px 4px;
    border-style: solid;
    margin: 10px;
    align-self: flex-start;
}

.others-post:after {
    content: '';
    position: absolute;
    display: block;
    top: 100%;
    right: 100%;
    margin-top: -20px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 12px solid #f44c36;
}

.app-title {
    text-align: center;
    color: #777;
}

.login-form {
    text-align: center;
}

.control-group {
    margin-bottom: 10px;
}

input {
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 250px;
    transition: border .5s;
}

input:focus {
    border: 2px solid #3498DB;
    box-shadow: none;
}

.btn {
    border: 2px solid transparent;
    background: #3498DB;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 250px;
    margin: 0 auto;
}

.btn:hover {
    background-color: #2980B9;
}

.login-link {
    font-size: 12px;
    color: #444;
    display: block;
    margin-top: 12px;
}

.message {
    padding: 20px;
    background-color: #f44336;
    /* Red */
    color: white;
    margin-bottom: 15px;
    opacity: 1;
    transition: opacity 0.6s;
    /* 600ms to fade out */
}

/* The close button */

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */

.closebtn:hover {
    color: black;
}

.compose-btn {
    background-color: #f44c36;
    border: none;
    padding: 10px 25px;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    position: relative;
    outline: none;
    text-decoration: none;
}

.compose-btn::before,
.compose-btn::after {
    content: '';
    position: absolute;
    width: 20px;
    border: 0 solid transparent;
    transition: all 0.25s;
}

.compose-btn:before {
    border-top: 2px solid #f44c36;
    top: -6px;
    left: 0px;
}

.compose-btn:after {
    border-bottom: 2px solid #f44c36;
    bottom: -6px;
    right: 0px;
}

.compose-btn:hover::after,
.compose-btn:hover::before {
    width: 100%;
}